<div class="normal-area">
  <div class="normal-block">
    <div class="imgR">
      <%= image_tag "top.png" %>
      <h1>ミニブログへようこそ！</h1>
      <p>Railsの「Scaffold」を使えば、サクッと基本機能を実装できます。まずは簡単なミニブログを作って、素敵なWebアプリライフをお過ごしください。</p>
    </div>
  </div>
</div>