<% provide(:button_text, '変 更')%>

<div class="blog_form">

  <div class="blog_back blog_btn">
    <%= link_to '戻る', blogs_path %>
  </div>

  <h1>内容編集</h1>

  <%= render 'form', blog: @blog %>

</div>
