<footer class="footer">
  <ul>
    <li><%= link_to image_tag("Twitter.png", alt: "Twitter-Icon"), "#" %></li> 
    <li><%= link_to image_tag("youtube.png", alt: "Twitter-Icon"), "#" %></li> 
  </ul>
  <p>@miniblog 2019</p>
</footer>